<div class='row' ng-controller='DashboardController'>
	<div class='col-md-12'>
		<p>Add a New Break</p>
		<form id='dashboard_form' name='breaks_form'>
			<label>Break Embedded URL</label><br>
			<input type='text' name='blog_title' ng-model='new_break.blog_title' placeholder='Enter the URL from the embedded link in Youtube'><br>
			<br>
			<input type='submit' value='Submit' class='btn btn-primary' ng-click='addBlog()' ng-disabled="blogs_form.blog_title.$invalid || blogs_form.blog_post.$invalid" >
		</form>
	</div>
	<div class='col-md-12'>
		<h1>JBMI Breaks</h1>
	<hr>
	<table class='table table-striped collection_table'>
		<tr>
			<th>BREAK URL</th>
			<th>DATE ADDED</th>
			<th>ACTION</th>
		</tr>
		<tr ng-repeat="break in breaks | orderBy: orderBy: '-created_at'">
			<td>{{ break.break_url }}</td>
			<td><span style='font-size: 9pt;'>{{ break.created_at | date:'medium' }}</span><br><time style='font-size: 8pt; font-style: italic' am-time-ago="break.created_at"></time></td>
			<td><button ng-click='editBreakPage(break._id)'>Edit</button><br><button ng-click='removeBreak(break._id)'>Remove</button></td>
		</tr>
	</table>
<!-- 		<div class='products_list' ng-repeat='product in products | filter: filter_name | limitTo: product_count'>
			<img height='150' width='150' src="{{ product.img_url }}"><br>
			<a ng-href='#/{{ product.product_type}}/{{ product._id }}'>{{ product.name }}</a>
			<p>({{ product.description }})</p>
		</div>
		<a href ng-model='show_more' ng-click='more_products()'>show more...</a> -->
	</div>
</div>