<div class='featured_divs'>
	<div class='blog_header'>
		<h1 class='text-center'>BREAK RULES</h1>
	</div>
	<div class='blog_body'>
		<p>
			<p class='text-center'><strong>LET'S BREAK</strong></p>
			JB Modern Inserts will host BREAKS consisting of factory-sealed hobby/retail boxes, or factory-sealed cases of the newest and most popular brands in the collecting world. With breaks from various sports (e.g., basketball, football, etc.), we offer an inexpensive and fun way to collect your favorite teams or the hottest rookies or athletes in their respective sport. If you’re an avid sports card collector or just a casual fan looking to get into collecting, our breaks are meant for you.
			<br>
		</p>
		<p>
			<p class='text-center'><strong>WHY US</strong></p>
			We’re fans and collectors just like you. We just get a thrill out of opening boxes and packs, hoping to land that next big hit of the next up-and-coming star player. We aim to offer the lowest break prices and, unlike other break sites, make sure that we send out all cards from the team(s) that you purchased. Our breaks aren’t just limited to the autographed, memorabilia or numbered hits; we make sure to send you all base cards, parallels or inserts for your team as well!
			<br>
		</p>
		<p>
			<p class='text-center'><strong>CLAIM YOUR SLOTS</strong></p>
			All upcoming breaks are listed on the site’s main page and open breaks are made available on the site’s Break subsite. Please be sure to read the break description so you will know the specific details of each product(s) and relevant information for the break. Choose from a break that piques your interest and pick from any open, available slot. Note that pricing may vary from team to team depending on the box/case that is up for the break. Select your team and press Add to Cart.
			<br>
		</p>
		<p>
			<p class='text-center'><strong>CHECKOUT</strong></p>
			After selecting the team(s) of your choice and adding them to your cart, click on the Shopping Cart to review your orders. Confirm your selections and proceed to Checkout via PayPal.
			<br>
		</p>
		<p>
			<p class='text-center'><strong>LIVE STREAM OF BREAK</strong></p>
			Once all the slots are filled, we will inform the participants of the break date (day and time) and provide them with the stream link. The live video stream of the break will take place at our USTREAM page (Note: All breaks will be broadcasted live via USTREAM). If you can’t make it to the break, we’ve got you covered. The video will be uploaded to our YouTube page for your viewing pleasure.
			<br>
		</p>
		<p>
			<p class='text-center'><strong>GENERAL RULES</strong></p>
			<ul>
				<li>The team name stated on the card determines the team that will receive the card. If no team name is present, the card will go to the current team of the athlete.</li>
				<li>Multi-Player cards containing players from two or more different teams will go to the participant who has the most invested in the card based on team purchase value. E.g., Participant A purchased Golden State Warriors for $25 and Participant B purchased LA Lakers for $20. A Multi-Player card is pulled containing Stephen Curry and Kobe Bryant. Because the team purchase value of the Warriors is greater than that of the Lakers, Participant A would get ownership of the Multi-Player card. If participants have invested in an equal value, we will do a random drawing to determine which participant will be awarded the card.</li>
				<li>Hall-of-Fame/Retired Players - Hall-of-Fame and Retired players with no team listed on the card will be awarded to the team for which they played the most years</li>
			</ul>
		</p>
		<p>
			<p class="text-center"><strong>SHIPPING & PACKAGING</strong></p>
			Upon completion of the break, every card from the break (base cards, inserts, autograph or memorabilia hits) will be shipped to each respective participant based on the team(s) they purchased. Shipping costs are reflected in the break description. Please allow 3 - 7 business days for shipping after the break has been completed.
			<br>
			<br>
			Cards will be packaged in standard plastic sleeves (minimum). Auto hits/inserts will be packaged in semi rigid card sleeves. Jersey/Memorabilia cards will be packaged in extra thick plastic sleeves and thick loader. All cards are collectively packaged by team.
			<br>
		</p>
	</div>
</div>