<!-- <div class="container container-checkout container-content" ng-show="confirm.orderDetail">  -->
<!-- <div class="row" ng-show="confirm.orderDetail"> -->
<div class="row" ng-controller="CheckoutConfirmationController">
	<div class="col-xs-12">
		<div class="alert alert-success" role="alert">
			<p class="lead">Thank you for your order! Your order number: <b>{{ order_summary[0].order_number }}</b>. You can e-mail us at <a href="mailto:jbmoderninserts@gmail.com?subject=JBMI Order Number: {{ order_summary[0].order_number }}">jbmoderninserts@gmail.com</a> with any inquiries regarding your order.  You will receive an emailed receipt from PayPal shortly.<br><br>NOTE: Please take note of your order number as a refresh of this page will redirect you to the home page</p> 
		</div>
	</div>
	<div class="col-xs-12">
		<div class="panel panel-default wayward-panel">
			<div class="panel-heading">
				<h3 class="panel-title">Order Summary</h3>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table">
						<thead> 
							<tr> 
								<th>Product</th> 
								<th>Quantity</th>
								<th>Total</th> 
							</tr> 
						</thead>
						<tbody> 
							<tr ng-repeat="products in order_summary[0].order_items"> 
								<td>{{products._name}}</td>
								<td>{{products._quantity}}</td>
								<td>{{products._price | currency}}</td> 
							</tr> 
							<!-- 			    	<tr> 
							<td>Cart Subtotal:</td> 
							<td>{{confirm.orderDetail.subtotal | currency}}</td> 
							</tr> 
							<tr class="text-danger" ng-show="confirm.orderDetail.coupon_lines.length>0"> 
							<td>Discount:</td> 
							<td>-{{confirm.orderDetail.total_discount | currency}}</td> 
							</tr> 
							<tr> 
							<td>Shipping:</td> 
							<td>{{confirm.orderDetail.total_shipping | currency}}</td> 
							</tr> 
							<tr> 
							<td>Tax:</td> 
							<td>{{confirm.orderDetail.total_tax | currency}}</td> 
							</tr>  -->
							<tr>
								<td>Shipping:</td>
								<td></td>
								<td>{{ order_summary[0].shipping | currency }}</td>
							</tr>
							<tr style="font-weight:bold"> 
								<td>Order Total:</td>
								<td></td>
								<td>{{order_summary[0].price | currency}}</td> 
							</tr> 
						</tbody>
					</table>
				</div>
			</div>
		</div>		
	</div>
	<!-- <ngcart-confirmation></ngcart-confirmation> -->
</div>
