<div ng-controller='DashboardController'>
	<!-- <h1><a class='admin_links' href="#/admin/dashboard">Dashboard</a></h1> -->
	<h1><a class='admin_links' href='#/admin/dashboard/add_products'>Add Products</a></h1>
	<h1><a class='admin_links' href="#/admin/dashboard/add_breaks">Add Breaks</a></h1>
	<h1><a class='admin_links' href="#/admin/dashboard/add_blogs">Add Blogs</a></h1>
	<h1><a class='admin_links' href='#/admin/dashboard/orders'>Show Orders Placed</a></h1>
	<hr>
	<div>
		<h2 class='center_title'>Recently Added Products</h2>
		<hr>
		<table class='table table-striped collection_table'>
			<tr>
				<th>PRODUCT TYPE</th>
				<th>YEAR</th>
				<th>BRAND</th>
				<th>CARD NO.</th>
				<th>PLAYER NAME</th>
				<th>DESCRIPTION</th>
				<th>CARD TYPE</th>
				<th>PRICE</th>
				<th>BECKETT VALUE</th>
				<th>AVAILABLE</th>
				<th>DATE ADDED</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="product in products | orderBy: '-created_at' | limitTo: '3'">
				<td>{{ product.product_type }}</td>
				<td>{{ product.year }}</td>
				<td>{{ product.brand }}</td>
				<td>{{ product.card_num }}</td>
				<td>{{ product.name }}</td>
				<td>{{ product.description }}</td>
				<td>{{ product.card_type }}</td>
				<td>{{ product.price | currency }}</td>
				<td>{{ product.beckett_value | currency}}</td>
				<td>{{ product.available }}</td>
				<td><span style='font-size: 9pt;'>{{ product.created_at | date:'medium' }}</span><br><time style='font-size: 8pt; font-style: italic' am-time-ago="product.created_at"></time></td>
				<td><button ng-click='editProductPage(product._id)'>Edit</button><br><button ng-click='removeProduct(product._id)'>Remove</button></td>
			</tr>
		</table>
	</div>
		<div>
		<h2 class='center_title'>Recently Added Breaks</h2>
		<hr>
		<table class='table table-striped collection_table'>
			<tr>
				<th>PRODUCT TYPE</th>
				<th>YEAR</th>
				<th>TITLE</th>
				<th>QUANTITY REMANING</th>
				<th>DESCRIPTION</th>
				<th>PRICE</th>
				<th>AVAILABLE</th>
				<th>DATE ADDED</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="break in breaks | orderBy: '-created_at' | limitTo: '3'">
				<td>{{ break.product_type }}</td>
				<td>{{ break.year }}</td>
				<td>{{ break.title }}</td>
				<td>{{ break.qty }}</td>
				<td>{{ break.description }}</td>
				<td>{{ break.price | currency }}</td>
				<td>{{ break.available }}</td>
				<td><span style='font-size: 9pt;'>{{ break.created_at | date:'medium' }}</span><br><time style='font-size: 8pt; font-style: italic' am-time-ago="break.created_at"></time></td>
				<td><button ng-click='editBreakPage(break._id)'>Edit</button><br><button ng-click='removeBreak(break._id)'>Remove</button></td>
			</tr>
		</table>
	</div>
</div>