<div ng-controller='NBAController'>
	<!-- Script that contains html template of the MODAL -->
	<script type="text/ng-template" id='expandedPhoto.html'>
		<div class='modal-header'>
			<h3 class='modal-title'>{{ item.year }} {{ item.brand }} - #{{ item.card_num }} {{ item.name }}</h3>
			<p>Description: {{ item.description }} // Card Type: {{ item.card_type }} // {{ item.price | currency }}</p>
		</div>
		<div class='modal-body'>
			<img src='{{item.img_url_front}}' alt='front' width='300' height='400'>
			<img src='{{item.img_url_back}}' alt='back' width='300' height='400'>
		</div>
		<div class='modal-footer'>
		<a href="mailto:jbmoderninserts@gmail.com?subject=Request: {{item.year}} - {{item.brand}} - {{item.name}} (Card No. {{item.card_num}}) - {{item.price | currency }}&body=Please add any additional cards you are intersted in down below.  Thanks!">Inquire</a>
		</div>
	</script>


	<h1 class='collection-title'>NBA Collection</h1>
	<form class="navbar-form">
		<label class="search_title">Categories: </label>
		<select class="form-control" placeholder="Categories" ng-model='nba_search.field'>
			<option value='name'>Player Name</option>
			<option value='brand'>Brand</option>
			<option value='card_type'>Card Type</option>
			<option value='year'>Year</option>
		</select>
		<div class="input-group search_bar">
			<input type='text' ng-model='nba_search.text' class='form-control' placeholder="Search">
			<div class="input-group-btn">
				<button class='btn' ng-click='searchNBAProducts()'>
					<span class='glyphicon glyphicon-search'></span>
				</button>
			</div>
		</div>
		<button class='btn btn-warning reset-btn' ng-click='getNBAProducts()'>Reset</button>
	</form>

	<button ng-show="showGrid" ng-click='displayGrid()' class='btn layout-btn pull-right'>
		<span class="glyphicon glyphicon-th-list"></span> | Show List
	</button>
	<button ng-hide="showGrid" ng-click='displayGrid()' class='btn layout-btn pull-right'>
		Show Grid | <span class="glyphicon glyphicon-th-large"></span>
	</button>
	<hr>
	<!-- GRID FORMAT -->
	<div ng-show="showGrid" class="collection-card-group" infinite-scroll="showMoreProducts()" infinite-scroll-distance="0">
		<div ng-repeat='product in nba_products | orderBy: orderByField:reverseSort | limitTo: product_count' class="card card-block collection-card-width">
			<div class="collection-card">
				<div class="collection-img">
					<a href><img src='{{ product.img_url_front }}' width='120' height='150' alt='{{ product.name}}' ng-click='open(product._id)'></a>
				</div>
				<div class="collection-header">
					<h3>{{ product.year }} {{ product.brand }}</h3>
					<h4>#{{ product.card_num }} {{ product.name }}</h4>
				</div>
				<div class="collection-body">
					<p>{{ product.description }}</p>
					<p>{{ product.card_type }}</p>
					<p>{{ product.price | currency }}</p>
					<!-- <a href="mailto:jbmoderninserts@gmail.com?subject=Request: {{product.year}} - {{product.brand}} - {{product.name}} (Card No. {{product.card_num}}) - {{product.price | currency }}&body=Please add any additional cards you are intersted in down below.  Thanks!">Inquire</a> -->
				</div>
				<div class="collection-addtocart">
					<ngcart-addtocart id="{{ product._id }}" name="{{product.year}} - {{product.brand}} - {{product.name}} (Card No. {{product.card_num}})" price="{{ product.price }}" quantity="1" data="product">Add to cart</ngcart-addtocart>
				</div>
			</div>
		</div>
	</div>

	<!-- TABLE FORMAT -->
	<table ng-hide="showGrid" class='table table-striped collection_table' infinite-scroll="showMoreProducts()" infinite-scroll-distance="0">
		<tr>
			<th>
				<a href ng-click="orderByField='year'; reverseSort = !reverseSort">YEAR
					<span ng-show="orderByField == 'year'">
						<span ng-show="!reverseSort">&#9650;</span>
						<span ng-show='reverseSort'>&#9660;</span>
					</span>
				</a>
			</th>
			<th>
				<a href ng-click="orderByField='brand'; reverseSort = !reverseSort">BRAND
					<span ng-show="orderByField == 'brand'">
						<span ng-show="!reverseSort">&#9650;</span>
						<span ng-show='reverseSort'>&#9660;</span>
					</span>
				</a>
			</th>
			<th>
				<a href ng-click="orderByField='card_num'; reverseSort = !reverseSort">CARD NO.
					<span ng-show="orderByField == 'card_num'">
						<span ng-show="!reverseSort">&#9650;</span>
						<span ng-show='reverseSort'>&#9660;</span>
					</span>
				</a>
			</th>
			<th>
				<a href ng-click="orderByField='name'; reverseSort = !reverseSort">PLAYER NAME
					<span ng-show="orderByField == 'name'">
						<span ng-show="!reverseSort">&#9650;</span>
						<span ng-show='reverseSort'>&#9660;</span>
					</span>
				</a>
			</th>
			<th>
				<a href ng-click="orderByField='description'; reverseSort = !reverseSort">DESCRIPTION
					<span ng-show="orderByField == 'description'">
						<span ng-show="!reverseSort">&#9650;</span>
						<span ng-show='reverseSort'>&#9660;</span>
					</span>
				</a>
			</th>
			<th>
				<a href ng-click="orderByField='card_type'; reverseSort = !reverseSort">CARD TYPE
					<span ng-show="orderByField == 'card_type'">
						<span ng-show="!reverseSort">&#9650;</span>
						<span ng-show='reverseSort'>&#9660;</span>
					</span>
				</a>
			</th>
			<th>
				<a href ng-click="orderByField='created_at'; reverseSort = !reverseSort">DATE ADDED
					<span ng-show="orderByField == 'created_at'">
						<span ng-show="!reverseSort">&#9650;</span>
						<span ng-show='reverseSort'>&#9660;</span>
					</span>
				</a>
			</th>
			<th style='color: #337AB7'>PHOTO</th>
			<th>
				<a href ng-click="orderByField='price'; reverseSort = !reverseSort">PRICE
					<span ng-show="orderByField == 'price'">
						<span ng-show="!reverseSort">&#9650;</span>
						<span ng-show='reverseSort'>&#9660;</span>
					</span>
				</a>
			</th>
			<th style='color: #337AB7'>ACTION</th>
		</tr>
		<tr ng-repeat='product in nba_products | orderBy: orderByField:reverseSort | limitTo: product_count'>
			<td>{{ product.year }}</td>
			<td>{{ product.brand }}</td>
			<td>{{ product.card_num }}</td>
			<td>{{ product.name }}</td>
			<td>{{ product.description }}</td>
			<td>{{ product.card_type }}</td>
			<td><span style='font-size: 9pt;'>{{ product.created_at | date:'medium' }}</span><br><time style='font-size: 8pt; font-style: italic' am-time-ago="product.created_at"></time></td>
			<td><a href><img src='{{ product.img_url_front }}' width='120' height='150' alt='{{ product.name}}' ng-click='open(product._id)'></a></td>
			<td>{{ product.price | currency }}</td>
			<td>
				<!-- <a href="mailto:jbmoderninserts@gmail.com?subject=Request: {{product.year}} - {{product.brand}} - {{product.name}} (Card No. {{product.card_num}}) - {{product.price | currency }}&body=Please add any additional cards you are intersted in down below.  Thanks!">Inquire</a> -->

				<ngcart-addtocart id="{{ product._id }}" name="{{product.year}} - {{product.brand}} - {{product.name}} (Card No. {{product.card_num}})" price="{{ product.price }}" quantity="1" data="product">Add to cart</ngcart-addtocart>

			</td>
		</tr>
	</table>
<!-- 	<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></uib-pagination> -->
</div>
