<div ng-controller="BreakController">
	<h1 class='text-center'>NBA Breaks</h1>
	<hr>
	<div class='row' ng-repeat='break in nba_breaks | orderBy: created_at'>
		<div class='col-md-4'>
			<img src='{{ break.img_url }}' width="300" height="400" alt="{{ break.title }}">
		</div>
		<div class='col-md-8'>
			<h2>{{ break.year }} - {{ break.title }}</h2>
			<h4><div break-desc="{{ break.description }}"></div></h4>
			<h3 style="font-weight: bold">{{ break.available }}</h3>
			<span style="color: black"><ngcart-addtocart id="{{ break.customID }}" name="{{break.year}} - {{break.title}} - JBMIBreak" price="{{ break.price }}" quantity="1" quantity-max="{{ break.qty }}" data="break">Add to cart</ngcart-addtocart><span>
		</div>
		<div class='col-md-12'><hr></div>
	</div>
</div>
<div class='center_yt' ng-controller='NBAController'>
	<h1 class='text-center'>NBA Break Videos</h1>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/8YbI_RgQJHM" frameborder="0" allowfullscreen></iframe>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/Shs0B7i5vgc" frameborder="0" allowfullscreen></iframe>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/17lXjis58Uo" frameborder="0" allowfullscreen></iframe>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/A4NbmR0r3cA" frameborder="0" allowfullscreen></iframe>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/iCAT6CYoEsM" frameborder="0" allowfullscreen></iframe>
</div>