<div ng-controller="BreakController">
	<h1 class='text-center'>NBA Breaks</h1>
	<hr>
	<div class='row' ng-repeat='break in nba_breaks | orderBy: created_at'>
		<div class='col-md-4'>
			<img src='{{ break.img_url }}' width="300" height="400" alt="{{ break.title }}">
		</div>
		<div class='col-md-8'>
			<h2>{{ break.year }} - {{ break.title }}</h2>
			<h4><div break-desc="{{ break.description }}"></div></h4>
			<h3 style="font-weight: bold">{{ break.available }} - {{ break.qty }} slot(s) still available</h3>
			<h4>{{ break.price | currency }} per slot</h4>
			<span style="color: black" ng-hide="{{ break.qty == 0 }}"><ngcart-addtocart id="{{ break.customID }}" name="{{break.year}} - {{break.title}} - #JBMIBreak" price="{{ break.price }}" quantity="1" quantity-max="{{ break.qty }}" data="break">Add to cart</ngcart-addtocart><span>
		</div>
		<div class='col-md-12'><hr></div>
	</div>
	<div class='row'>
		<div class='col-md-4'>
			<img src='https://lh3.googleusercontent.com/6IIEFByrjZi26oKxS7fgoLkWTu9OV_S4MqzPist5o7dj75Sk4jTCSnL4eCUztlb-4YlrI61HjvNNymWqlnX-HX4p33MIYgdOLpmuvx5k-B7woieNWmy7Iajx__hTQQ9bt0fR62og5xCJrM4vCiKJEzUr_B-9gR-lHKV47C0gjxJGxc4caJC4-22W7qkl9GNmeljathfQc7RzWX0_YGghxrSbdBtYhIp2CKQtoqUeKkRHHpPwjTz4vl3i571wwSJsC9V-1Ycr6kaWJlcPvANZ13lN-MtANlNPa2LLybBy8s_7QkD8P6GRF4f-evlU8NDA21IzZ3F_kgC7zEQsdPNg3haJWpYdQGFDbDq3XwfA1aWwVqJJz8SiGu-IrEGFpf0SAF7asPaHedT5xbBcuxTviEKS-M34X4OIcmPq-GGTuODA-JolShxtjSnjcCorv0cmnN8dm7d-3RzzGPSMriz9inpnbsFKa9x7NscoA40jVCb9NdM5fvIgSk8cBhQGmbLmRT3kKL32bT3nyPKJE02J4z5CsrXvX4f6ygIVv39KBNr8WYmJodhKS0D0v9J3G_2Xq5tiPeUJPOni0JDdAmzVzsxwFNMOu0Q=w650-h543-no' width="300" height="220" alt="15-16 National Treasures">
			<img src='https://lh3.googleusercontent.com/O8rwbYHiIfAomFxUT-elePjKzcbnuhIPq4ZkmT2DaA9BSxP1Za9GgKggnlGEkqmItfaWnoAZ6WW3hzKt2O2gVgrpcyTM9gdHSDxtXfqOcLP_PjeTQlV7laBz4-xbK4UHA4pK38VtcLdjXYXpkwcLce5HrjDUNTZ0XBZ7mul3XFGADXzcQqSsI1thDlTogu-vShSW9Ew5RnoBBjUbEIvE7H45BI7bY4cxdYuChBzMo4KPqg_k5neo5Jh6BfwY1Vp0tkvG9kzDL3kgM9RIZUR4Wi2F_ISoxqrjHzn4Tgb1dfuJWrouW1gldcomjIl6adiE0z6hHa-sWgA9wgGx-WLWs-0LgCyRew-UX3Pblj66ccS0lk4c-t8cIgiT9NZlaP_kAuMaOClqifFiiTfHG1JALR0h3uLPhyfvxzt3gvys2Ci6Vo147FafxJA52u3YZxjIyrlG2t11fvNHInHX92g77SKtU7JK6WGqORNFOv59wDeEcs2G_7ZyZWZkiozn8_6Tcu-H93IiE1Ly-nucSzona248SGCYy5TVgOPTy3gvYzHhQ3RV1pLBp8NX2FYB5OBkLD_B8gDu0G702EUlxKS10jxqqUVX99Y=w1650-h1275-no' width="300" height="220" alt="15-16 Gold Standard">
			<img src='https://lh3.googleusercontent.com/Jx4qfQuhnP_fncWOXFUqZTSB3o0MiEwiA1ob6aW110rlrlcpS0ysTARnsYBt16qhYLlaUe6zpBz_RYWVAg5yYNeB_yPdMXI2evyC9oEb_MbFI2X0oNs9tVOnmwF4wUpOnv7EL31g7THGp6LLRZVhUDQOOi7_qJO21YWj5u67jlEH3TMwnKD0kZAcpIju9swnW873pA8uSZO_KkpdkMFOuoOz_1bF1-kPMXH4LIzoMMkxYH_Qrw1xOjLbQzFIj4JukyRf6Pny0i1uSDrN0a4wZotFX74ssf76YyR5Z0nnkISiWP0h6dyY9JMVs0Fs_hV9w-UHMPh0tHAqcLeX3BzC7uo1g_QX_e_I-5hzXwm541pPgugaqOvKC_a2gwBfWTHzvpAnZbcYOkrPJzKT6engBiCEgzz8BC1uJGy0edq0JH9c9KYeuLxWLSRJmCvjid5wC9xYm2-mO2OZJSaqJhB4Jy_dutIT7DYF5guhkLaTndn-Q8SemOTWXqtZO-UUDJO-SDfJhv9gOCMyAIxnukQY7lBSHmT52SKOgyeoIZXgzU4OcC8rAORuNwzVVKGq2XZMcL6bn0t-EJVR0qJK5pgRG4yFHEa4fR8=w600-h494-no' width="300" height="220" alt="14-15 Gold Standard">
		</div>
		<div class='col-md-8'>
			<h2>3 x Box - Panini Basketball NBA Mixer Break</h2>
			<h4>1 x 2015-16 Panini National Treasures</h4>
			<h4>1 x 2015-16 Panini Gold Standard</h4>
			<h4>1 x 2014-15 Panini Gold Standard</h4>
			<p>
				Auctions currently available on <a class='gold_links' href="http://www.ebay.com/sch/jb_moderninserts/m.html?_nkw=&_armrs=1&_ipg=&_from=">eBay</a>.  Break to occur once all team slots have been filled and paid for.
			</p>
			<h3 style="font-weight: bold">Teams Available</h3>
			<ul>
				<li>Atlanta Hawks - <a class='gold_links' href="http://www.ebay.com/itm/252412977785">eBay Listing</a></li>
				<li>Boston Celtics - <a class='gold_links' href="http://www.ebay.com/itm/252412981043">eBay Listing</a></li>
				<li>Brooklyn Nets - <a class='gold_links' href="http://www.ebay.com/itm/252412984505">eBay Listing</a></li>
				<li>Charlotte Hornets/Bobcats - <a class='gold_links' href="http://www.ebay.com/itm/252412986507">eBay Listing</a></li>
				<li>Chicago Bulls - <a class='gold_links' href="http://www.ebay.com/itm/252412989275">eBay Listing</a></li>
				<li>Cleveland Cavaliers - <a class='gold_links' href="http://www.ebay.com/itm/252412991708">eBay Listing</a></li>
				<li>Dallas Mavericks - <a class='gold_links' href="http://www.ebay.com/itm/252412993114">eBay Listing</a></li>
				<li>Denver Nuggets - <a class='gold_links' href="http://www.ebay.com/itm/252412994709">eBay Listing</a></li>
				<li>Detroit Pistons - <a class='gold_links' href="http://www.ebay.com/itm/252412995681">eBay Listing</a></li>
				<li>Golden State Warriors - <a class='gold_links' href="http://www.ebay.com/itm/252412996944">eBay Listing</a></li>
				<li>Houston Rockets - <a class='gold_links' href="http://www.ebay.com/itm/252412998179">eBay Listing</a></li>
				<li>Indiana Pacers - <a class='gold_links' href="http://www.ebay.com/itm/252412999619">eBay Listing</a></li>
				<li>Los Angeles Clippers/Buffalo Braves - <a class='gold_links' href="http://www.ebay.com/itm/252413000967">eBay Listing</a></li>
				<li>Los Angeles Lakers - <a class='gold_links' href="http://www.ebay.com/itm/252413002407">eBay Listing</a></li>
				<li>Memphis Grizzlies - <a class='gold_links' href="http://www.ebay.com/itm/252413004228">eBay Listing</a></li>
				<li>Miami Heat - <a class='gold_links' href="http://www.ebay.com/itm/252413005691">eBay Listing</a></li>
				<li>Milwaukee Bucks - <a class='gold_links' href="http://www.ebay.com/itm/252413006960">eBay Listing</a></li>
				<li>Minnesota Timberwolves - <a class='gold_links' href="http://www.ebay.com/itm/252413008217">eBay Listing</a></li>
				<li>New Orleans Pelicans - <a class='gold_links' href="http://www.ebay.com/itm/252413009440">eBay Listing</a></li>
				<li>New York Knicks - <a class='gold_links' href="http://www.ebay.com/itm/252413010309">eBay Listing</a></li>
				<li>Oklahoma City Thunder + Seattle Supersonics - <a class='gold_links' href="http://www.ebay.com/itm/252413011308">eBay Listing</a></li>
				<li>Orlando Magic - <a class='gold_links' href="http://www.ebay.com/itm/252413013025">eBay Listing</a></li>
				<li>Philadelphia 76ers - <a class='gold_links' href="http://www.ebay.com/itm/252413015669">eBay Listing</a></li>
				<li>Phoenix Suns - <a class='gold_links' href="http://www.ebay.com/itm/252413017902">eBay Listing</a></li>
				<li>Portland Trailblazers - <a class='gold_links' href="http://www.ebay.com/itm/252413019405">eBay Listing</a></li>
				<li>Sacramento Kings/Rochester Royals - <a class='gold_links' href="http://www.ebay.com/itm/252413020785">eBay Listing</a></li>
				<li>San Antonio Spurs - <a class='gold_links' href="http://www.ebay.com/itm/252413021871">eBay Listing</a></li>
				<li>Toronto Raptors - <a class='gold_links' href="http://www.ebay.com/itm/252413022534">eBay Listing</a></li>
				<li>Utah Jazz - <a class='gold_links' href="http://www.ebay.com/itm/252413023652">eBay Listing</a></li>
				<li>Washington Wizards/Bullets - <a class='gold_links' href="http://www.ebay.com/itm/252413024385">eBay Listing</a></li>
			</ul>
		</div>
		<div class='col-md-12'><hr></div>
	</div>
</div>
<div class='center_yt' ng-controller='NBAController'>
	<h1 class='text-center'>NBA Break Videos</h1>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/8YbI_RgQJHM" frameborder="0" allowfullscreen></iframe>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/Shs0B7i5vgc" frameborder="0" allowfullscreen></iframe>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/17lXjis58Uo" frameborder="0" allowfullscreen></iframe>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/A4NbmR0r3cA" frameborder="0" allowfullscreen></iframe>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/iCAT6CYoEsM" frameborder="0" allowfullscreen></iframe>
</div>
