<div class='center_yt' ng-controller='NBAController'>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/8YbI_RgQJHM" frameborder="0" allowfullscreen></iframe>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/Shs0B7i5vgc" frameborder="0" allowfullscreen></iframe>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/17lXjis58Uo" frameborder="0" allowfullscreen></iframe>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/A4NbmR0r3cA" frameborder="0" allowfullscreen></iframe>
	<hr>
	<iframe width="640" height="390" src="https://www.youtube.com/embed/iCAT6CYoEsM" frameborder="0" allowfullscreen></iframe>
</div>