<div class='row' ng-controller="NewCartController">
	<div class='.col-md-12'>
		<ngcart-cart ng-click='cart_updated == true'></ngcart-cart>
		<!-- <p class='text-center'>NOTE: Please refresh the page if any changes are made to the cart.  Thanks!</p> -->
	</div>
	<div class='pull-right checkout-btns'>
		<ngcart-checkout service="paypal" settings="payPalSettings" ng-hide='cart_updated'></ngcart-checkout>
		<img src="img/reload.svg" alt="reloading" ng-show='reloading' />
		<button class="btn btn-info" ng-click="refresh()" ng-show="cart_updated">Update Cart</button>
	</div>
</div>
